/* override the default image top css */
.sd-card-img-top {
    width: 15% !important;
    position: absolute !important;
    padding-left: 10px;
    min-width: 50px;
    top: 50%;
    transform: translateY(-50%);

}

/* override the default background image behavior */
.sd-card-img {
    height: auto;
}

/* override toc css */
/* controls dropdown icon color */
.bd-toc-item.active {
    margin-bottom: 1rem;
    color: #283618;
}

/* controls sidebar header color */
.caption-text {
    color: #283618;
}
