/* override the default image top css */
.sd-card-img-top {
    width: 15% !important;
    position: absolute !important;
    padding-left: 10px;
    min-width: 50px;
    top: 50%;
    transform: translateY(-50%);

}

/* override the default background image behavior */
.sd-card-img {
    height: auto;
}

/* override toc css */
/* controls dropdown icon color */
.bd-toc-item.active {
    margin-bottom: 1rem;
    color: #343741;
}

/* controls sidebar header color */
.caption-text {
    color: #343741;
}
/* Change color of selected item in the sidebar */
.bd-sidebar .nav-item.active > a {
    background-color: transparent; /* Replace with your desired background color */
    color: #016691;       /* Replace with your desired text color */
}
