/* override the default image top css */
.sd-card-img-top {
    width: 15% !important;
    position: absolute !important;
    padding-left: 10px;
    min-width: 50px;
    top: 50%;
    transform: translateY(-50%);

}

/* override the default background image behavior */
.sd-card-img {
    height: auto;
}


.toc-entry > .nav-link.active {
  font-weight: 400;
  color: #542437;
  background-color: transparent;
  border-left: 2px solid #016691;
}
