/* delete margin from side of content */
.wy-nav-content {
    max-width: none !important;
}

.custom-title {
    font-weight: bold;
    color: #283618;
    text-align: left;
    margin: 0;
    padding: 0;
    max-width: 80%; /* so title does not overlap icon */
}

.custom-card {
    resize: height;
}
