/* delete margin from side of content */
.wy-nav-content {
    max-width: none !important;
}

.custom-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #283618;
    text-align: left;
    margin: 0;
    padding: 0;
}
