name: CI
on:
  pull_request:
  workflow_dispatch:
  schedule:
     - cron: '0 0 * * *' # Daily “At 00:00”

jobs:
  test:
    # if: |
    #   github.repository == 'UXARRAY/uxarray'
    name: Python (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}

    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest", "macos-latest", "macos-14", "windows-latest"]
        python-version: [ "3.10", "3.11", "3.12", "3.13"]
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: checkout
        uses: actions/checkout@v4
        with:
          token: ${{ github.token }}

      - name: conda_setup (x64)
        uses: conda-incubator/setup-miniconda@v3
        if: matrix.os != 'macos-14'
        with:
          activate-environment: uxarray_build
          channel-priority: strict
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          environment-file: ci/environment.yml
          miniforge-variant: Miniforge3
          miniforge-version: latest

      - name: conda_setup (ARM64)
        uses: conda-incubator/setup-miniconda@v3
        if: matrix.os == 'macos-14'
        with:
          activate-environment: uxarray_build
          channel-priority: strict
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          environment-file: ci/environment.yml
          installer-url: https://github.com/conda-forge/miniforge/releases/download/23.11.0-0/Miniforge3-23.11.0-0-MacOSX-arm64.sh

      - name: Install uxarray
        run: |
          python -m pip install . --no-deps

      - name: conda list
        run: |
          conda list


      - name: Run Namespace Tests
        run: |
          python -m pytest test

      - name: Run Coverage Tests
        run: |
          python -m pytest test -v --cov=./uxarray --cov-report=xml
        env:
          NUMBA_DISABLE_JIT: 1

      - name: Upload code coverage to Codecov
        if: github.repository == 'UXARRAY/uxarray'
        uses: codecov/codecov-action@v5.4.0
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          file: ./coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: false
