name: Upload uxarray to PyPI
on:
  release:
    types:
      - published
jobs:
  test-build:
    if: github.repository == 'UXARRAY/uxarray'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools setuptools-scm wheel twine check-manifest
      - name: Build tarball and wheels
        run: |
          python setup.py sdist bdist_wheel
          python -m pip wheel . -w dist --no-deps
      - name: Test the artifacts
        run: |
          python -m twine check dist/*

  publish:
    needs: test-build
    if: startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools setuptools-scm wheel twine check-manifest
      - name: Build tarball and wheels
        run: |
          python setup.py sdist bdist_wheel
          python -m pip wheel . -w dist --no-deps
      - name: Test the artifacts
        run: |
          python -m twine check dist/*

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.PYPI_PASSWORD }}
          skip_existing: true
          verbose: true
